$theme-primary-color: #209cee;
$theme-secondary-color: #5ff;
$theme-danger-color: #d90b13;
$theme-warning-color: #d90b13;
$theme-info-color: #45bbff;

$text-primary-color: #333333;
$text-secondary-color: #666666;
